/* Global Style */

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #5bcc00;
}


/* Header and Logo*/

header {
    height: 50px;
    width: 100%;
    background-color: #5bcc00;
    text-align: center;
}

/* Game Area */

.game-area {
    height: 450px;
    width: 100%;
    background-color: greenyellow;
}

/*Round heading & text */

h2 {
    text-align: center;
}

#image-area {
    height: 300px;
    width: 70%;
    background-color: black;
    margin: auto;
    border: 10px solid black;
    padding: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: chartreuse;
}

/*Typewriter*****     https://css-tricks.com/snippets/css/typewriter-effect/ ***/
#typewriter {
overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid chartreuse; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  overflow: hidden;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
position: static;
    height: 50%;
    width: 100%
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: chartreuse; }
}

/*Center Image - Gun Gifs styling */

#gun {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*Buttons*/

button {
    height: 50px;
    width: 10%;
    border-radius: 5%;
    border: 5px solid black;
    font-family: 'Press Start 2P', cursive;
    background-color: #5bcc00;
    
}

#buttons {

    margin: auto;
    position:relative;
    top: 50%; 
    left: 33%;

}

#chamber-container {
    height: 150px;
    width: 70%;
    margin: auto;
    border: 5px dashed black;
    display: inline-block ;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: chartreuse;
    margin-left: 14%;
}

#chamber {

    margin: auto;
    position: relative;
    
}

#round-text {
    height: 50px;
}


/* Media Queries */

/* for larger to medium screen size - from 990px wide and down */

@media screen and (max-width: 990px) {
    h1 {
        font-size: 170%;
    }
    
    
    h2 {
        font-size: 130%;
    }

    p {
        width: 100%;
        display: block;
        font-size: 80%;
    }

    button {
        height: 40px;
        width: 10%;
        border-radius: 5%;
        border: 3px solid black;
    }

    #typewriter {
        white-space: normal;
    }

    #buttons
    {

    font-size: 70%;
    }
}

/* for medium screen size - from 990px wide and down */

@media screen and (max-width: 790px) {
    
    #image-area {
        width: 80%;
    }

    #buttons {
        font-size: 70%;
        left: 28%;
        
    }

    button {
        height: 40px;
        width: 10%;
        border-radius: 5%;
        border: 3px solid black;
        font-size: 80%;
    }


    #round-text {
        height: fit-content;
    }

    header {
        height: fit-content;
    }
}

/* for medium to small screen size - from 570px wide and down */

@media screen and (max-width: 570px) {

    #image-area {
        width: 90%;
    }

    #buttons {
    font-size: 70%;
    left: 14%;
    
}

    button {
    height: 50px;
    width: 22%;
    border-radius: 5%;
    border: 3px solid black;
    font-size: 60%;
}


    #round-text {
    height: fit-content;
}

    header {
    height: fit-content;
}
   
    #chamber {
        left: 0%;
    }

    img {
        max-width: 100%;
    }
}

